<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
    <form action="/estimate" method="GET">
        <label for="address">Your Address: </label><br>
        <input type="text" id="address" name="address" value=""><br>
        <input type="submit" value="Submit">
      </form> 
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>