<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main class="bg-light">
    <div class="text-center">
        <img src="/logo.png" class="rounded" alt="...">
        <h1>Flourish<h1>
        <h4>We'll help you through this</h4>
    </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>