<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main class="bg-light">
    Welcome!
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>